.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.filters-container {
  align-items: center;
  background-color: gray;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  padding: 3rem 1rem;
  width: 100vw;
}

.filters-container > label {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.filters-container > div {
  padding: 1rem;
  width: 100%;
}

table {
  max-width: 100%;
}

thead {
  background-color: black;
  border: 2px solid white;
  color: white;
  width: 100;
}

tbody > tr, td {
  border: 1px solid black;
  text-align: center;
}

.cardFilter-container {
  height: auto;
  width: 100%;
}

.cardFilter {
  align-items: center;
  background-color: greenyellow;
  border-radius: 6px;
  display: flex;
  gap: 0.5rem;
  height: 1rem;
  justify-content: center;
  padding: 1rem;
  transition: 0.3s;
  width: 16rem;

  &:hover {
    background-color: red;
  }
}

.cardFilter > button {
  background-color: transparent;
  border: 0 none;
  font-weight: 600;
  outline: none;

  &:hover {
    color: white;
  }
}
